<!DOCTYPE html>
<html>
  <head>
    <title>作業練習：元件變換</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="images/favicon.ico" rel="shortcut icon" />
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/stylesheets/all.css" />
    <script
      defer
      src="https://use.fontawesome.com/releases/v5.0.8/js/solid.js"
      integrity="sha384-+Ga2s7YBbhOD6nie0DzrZpJes+b2K1xkpKxTFFcx59QmVPaSA8c7pycsNaFwUK6l"
      crossorigin="anonymous"
    ></script>
    <script
      defer
      src="https://use.fontawesome.com/releases/v5.0.8/js/regular.js"
      integrity="sha384-t7yHmUlwFrLxHXNLstawVRBMeSLcXTbQ5hsd0ifzwGtN7ZF7RZ8ppM7Ldinuoiif"
      crossorigin="anonymous"
    ></script>
    <script
      defer
      src="https://use.fontawesome.com/releases/v5.0.8/js/fontawesome.js"
      integrity="sha384-7ox8Q2yzO/uWircfojVuCQOZl+ZZBg2D2J5nkpLqzH1HY0C1dHlTKIbpRz/LG23c"
      crossorigin="anonymous"
    ></script>
    <script src="/javascripts/vendor.js"></script>
  </head>

  <body class="bg-lighter">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <a class="navbar-brand" href="/">Vue.js</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarText"
        aria-controls="navbarText"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item"><a class="nav-link" href="/basic/dev.html">基礎教學</a></li>
          <li class="nav-item"><a class="nav-link" href="/template/basic.html">模板指令</a></li>
          <li class="nav-item"><a class="nav-link" href="/components/basic.html">組件</a></li>
          <li class="nav-item"><a class="nav-link" href="/api/vue_set.html">常用 API</a></li>
          <li class="nav-item"><a class="nav-link" href="/es6/let_const.html">ES6</a></li>
        </ul>
      </div>
    </nav>
    <div class="container my-5">
      <div class="row">
        <div class="col-md-3">
          <div>
            <h6 class="text-capitalize text-muted">components</h6>

            <a href="/components/basic.html" class="btn btn-block btn-link"> 基礎元件 </a>

            <a href="/components/function_return.html" class="btn btn-block btn-link"> 元件必須使用 function return </a>

            <a href="/components/prop_basic.html" class="btn btn-block btn-link"> 由外到內的資料傳遞 </a>

            <a href="/components/prop_adv.html" class="btn btn-block btn-link"> Props 注意事項 </a>

            <a href="/components/prop_type.html" class="btn btn-block btn-link"> Props 的型別 </a>

            <a href="/components/emit.html" class="btn btn-block btn-link"> 向外層傳送事件(Data) </a>

            <a href="/components/slot.html" class="btn btn-block btn-link"> Slot 插槽替換 </a>

            <a href="/components/is.html" class="btn btn-block btn-link"> 動態組建切換 </a>

            <a href="/components/eventbus.html" class="btn btn-block btn-link"> Event Bus </a>

            <a href="/components/homework_component.html" class="btn btn-block btn-primary active"> 作業練習：元件變換 </a>
          </div>
        </div>

        <div class="col-md-9 post">
          <!-- 練習開始 -->
          <h1 class="mt-0 text-muted">作業練習：元件變換</h1>

          <h3>模板練習作業：Ajax 資料內容呈現</h3>
          <p>本作業一定要用到元件。</p>
          <div class="alert alert-secondary">
            <p>提示：</p>
            <ol class="mb-0">
              <li>將資料內容透過 "元件" 呈現</li>
              <li>製作城市過濾選項</li>
              <li>將內層資料透過 emit 傳遞到外層 (作為另一個關注城市的呈現)</li>
              <li>依據不同污染呈現不同色彩</li>
              <li>加分題：透過 localStorage 儲存上次關注的城市</li>
            </ol>
          </div>

          <div id="app">
            <select name="" id="" class="form-control mb-3" v-model="filter">
              <option value="">--- 請選擇城市 ---</option>
              <option :value="item" v-for="item in location">{{ item }}</option>
            </select>
            <div>
              <h4>關注城市</h4>
              <div class="card-box">
                <maincontent v-for="(item, key) in stared" :key="key" :country="item" @add="star"></maincontent>
              </div>
            </div>

            <hr />

            <div class="card-box">
              <maincontent v-for="(item, key) in place" :key="key" :country="item" @add="star"></maincontent>
            </div>
          </div>

          <script type="text/x-template" id="contentlist">
            <div class="card">
                <div class="card-header" :class="status">{{country.County}} - {{country.SiteName}}
                    <a href="#" class="float-right" @click.prevent="addstar(country)">
                      <i class="far fa-star" v-if="!country.starClicked"></i>
                      <i class="fas fa-star" v-if="country.starClicked"></i>
                    </a>
                </div>
                <div class="card-body">
                    <ul class="list-unstyled">
                        <li>AQI 指數: {{country.AQI}}</li>
                        <li>PM2.5: {{country['PM2.5']}}</li>
                        <li>說明: {{country.Status}}</li>
                    </ul>
                    {{country.PublishTime}}
                </div>
            </div>
          </script>

          <script>
            Vue.component('maincontent', {
              template: '#contentlist',
              props: ['country'],
              computed: {
                status() {
                  return {
                    'status-aqi2': this.country.Status === '普通',
                    'status-aqi3': this.country.Status === '對敏感族群不健康',
                    'status-aqi4': this.country.Status === '對所有族群不健康',
                    'status-aqi5': this.country.Status === '非常不健康',
                    'status-aqi6': this.country.Status === '危害'
                  }
                }
              },
              methods: {
                addstar: function () {
                  let vm = this;
                  vm.$emit('add', vm.country)
                }
              }
            })

            var app = new Vue({
              el: '#app',
              data: {
                data: [],
                location: [],
                stared: [],
                filter: ''
              },
              // 請在此撰寫 JavaScript
              methods: {
                getData() {
                  const vm = this
                  const api = 'http://opendata2.epa.gov.tw/AQI.json'

                  // 使用 jQuery ajax
                  $.get(api).then(function(response) {
                    vm.data = response
                    let country = new Set()
                    vm.data.forEach(function(item) {
                      country.add(item.County)
                    })
                    vm.location = Array.from(country);
                  });
                  var getStorage = JSON.parse(localStorage.getItem('listdata')) || [];
                  vm.stared = getStorage;
                },
                star: function (staritem) {
                  let vm = this;
                  let staredIndex = vm.stared.indexOf(staritem);
                  
                  if (staredIndex == -1) {
                      staritem.starClicked = true;
                      vm.stared.push(staritem);
                  } else {
                      staritem.starClicked = false;
                      vm.stared.splice(staredIndex, 1);
                  }
                  // 存入localstorage
                  localStorage.setItem('listdata', JSON.stringify(vm.stared));
                },
              },
              computed:{
                place: function () {
                    let vm = this;
                    let selectedData = [];

                    if (vm.filter == '') {
                        selectedData = vm.data;
                    } else {
                        selectedData = vm.data.filter(function (item) {
                            return vm.filter == item.County
                        });
                    }
                    return selectedData;
                },
              },
              created() {
                this.getData()
              }
            })
          </script>

          <style>
            .card-box{
              display: flex;
              flex-wrap: wrap;
              justify-content: space-around;
            }
            .card-box .card{
              width: 30%;
              margin-bottom: 30px;
            }
            .status-aqi2 {
              background-color: #ffff00;
            }
            .status-aqi3 {
              background-color: #ff7e00;
            }
            .status-aqi4 {
              background-color: #ff0000;
            }
            .status-aqi5 {
              background-color: #8f3f97;
            }
            .status-aqi6 {
              background-color: #7e0023;
            }
          </style>
        </div>
      </div>
    </div>
  </body>
</html>
